@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');



body {
  background-color: black;
  background-image: url(https://i.pinimg.com/originals/eb/c8/d3/ebc8d3629f46341230ed65f5c2dd3e24.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  // border-bottom: 5px solid white;
  padding: .5em;
  font-size: 50px;
  background-color: transparent;
  color: white;
  font-family: 'Rock Salt', cursive;
  margin-top: 25px;
}

.input {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

#sign-up-element {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  border: 3px solid rgba(255, 255, 255, 0.242);
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 12%;
  width: 300px;
}

#sign-up {
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
  margin: .5em;
  font-size: 15px;
  border-radius: 10px;
  // font-family: 'Rock Salt', cursive;
}

#sign-up-header {
  border-bottom: solid white;
  // padding-bottom: 10px;
  font-family: 'Rock Salt', cursive;
  font-size: 25px;
  padding: 15px;
}

#sign-up-button {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  background-color: rgb(72, 72, 72);
  color: white;
}

 #already-user {
  display: flex;
  justify-content: center;
  width: 91.25%;
  margin: auto;
  margin-bottom: 7px;
  border: 2px solid gray;
  background-color: rgb(72, 72, 72);
  color: white;
}
#sign-in-element {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  border: 3px solid rgba(255, 255, 255, 0.242);
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 12%;
  width: 300px;
}

#sign-in {
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
  margin: .5em;
  font-size: 15px;
  border-radius: 10px;
  // font-family: 'Rock Salt', cursive;
}

#sign-in-header {
  border-bottom: solid white;
  // padding-bottom: 10px;
  font-family: 'Rock Salt', cursive;
  font-size: 25px;
  padding: 15px;
}

#sign-in-button {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  background-color: rgb(72, 72, 72);
  color: white;
}

 #not-user {
  display: flex;
  justify-content: center;
  width: 91.25%;
  margin: auto;
  margin-bottom: 7px;
  border: 2px solid gray;
  background-color: rgb(72, 72, 72);
  color: white;
}
.wrapper {
  display: flex;
  display: inline block;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  width: auto;
}
#new-game, #sign-out {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(72, 72, 72);
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: 'Oswald', sans-serif;
}
#new-game:hover, #sign-out:hover, #already-user:hover, #not-user:hover, #sign-in-button:hover, #sign-up-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

table {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 30px;
  color: white;
  font-family: 'Rock Salt', cursive;

}

td:empty {
  background-color: rgba(0, 0, 0, 0.647);
}
td:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

td {
  width: 150px;
  height: 150px;
}

#message {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.even, .odd {

text-align: center;
font-size: 50px;
border: 5px solid rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0.448);

}

#game-results {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  color: white;
}
